<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="HealthOrzo">
    <meta name="author" content="Sarthak Bhake">
    <meta name="Keywords"
        content="Flask, Machine Learning, Deep Learning, Artificial Intelligence, AI, ML,DL, Web Development">
    <meta name="description"
        content="A Machine Learning and Deep Learning based webapp for Multiple Disease Prediction.">
    <title>Diabetes Prediction</title>
    <!-- <link rel="icon" href="{{ url_for('static', filename = 'logo1.png') }}" type="image/icon type"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            background-color: #ade8f4;
        }

        header {
            height: 50px;
        }

        footer {
            height: 75px;
            background: black;
        }


        body {
            display: flex;
            flex-direction: column;
        }

        footer {
            padding: 10px;
            margin-top: auto;
            margin-bottom: auto;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary"
        style="background-color: black !important; height: 80px; ">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename = 'logo1.png') }} " height="60px"
                width="275px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <center>
                <h2 style=" color:white; transform:translateX(250px); text-decoration: underline;">HealthOrzo - Your
                    Health Matters</h2>
            </center>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"
                    style="padding: right 10px; color: blue; font-size: large; text-decoration: underline;">
                    <a href="{{ url_for('home') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item active" style="font-size: large; text-decoration: underline; ">
                    <a class="nav-link" href="{{ url_for('diabetesPage') }}">Diabetes</a>
                </li>
                <li class="nav-item active" style="font-size: large; text-decoration: underline;">
                    <a class="nav-link" href="{{ url_for('heartPage') }}">Heart</a>
                </li>
                <li class="nav-item active" style="font-size: large; text-decoration: underline;">
                    <a class="nav-link" href="{{ url_for('kidneyPage') }}">Kidney</a>
                </li>
                <li class="nav-item active" style="font-size: large; text-decoration: underline;">
                    <a class="nav-link" href="{{ url_for('liverPage') }}">Liver</a>
                </li>

            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <main>
        <center>
            <div class="container-fluid" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <center>
                            <h1>Diabetes Prediction</h1>
                        </center>
                        <div class="card card-body" style="border: 1px solid black; border-radius: 1em;">
                            <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text" name="age"
                                        placeholder="Age">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text"
                                        name="pregnancies" placeholder="Number of Pregnancies ">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text"
                                        name="glucose" placeholder="Glucose (mg/dL) ">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text"
                                        name="bloodpressure" placeholder="Blood Pressure (mmHg) ">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text"
                                        name="skinthickness" placeholder="Skin Thickness (mm) ">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text"
                                        name="insulin" placeholder="Insulin Level (IU/mL) ">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text" name="bmi"
                                        placeholder="Body Mass Index (kg/m²) ">
                                </div>
                                <div class="form-group">
                                    <input style="border: 1px solid black;" class="form-control" type="text" name="dpf"
                                        placeholder="Diabetes Pedigree Function ">
                                </div>


                                <input type="submit" class="btn btn-info btn-block" value="Predict">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </center>
    </main>
</body>

</html>