{% extends 'main.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary"
    style="background-color: black !important; height: 80px; ">
    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename = 'logo1.png') }} " height="60px"
            width="275px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <center>
            <h2 style=" color:white; transform:translateX(250px); text-decoration: underline;">HealthOrzo - Your
                Health Matters</h2>
        </center>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"
                style="padding: right 10px; color: blue; font-size: large; text-decoration: underline;">
                <a href="{{ url_for('home') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item active" style="font-size: large; text-decoration: underline; ">
                <a class="nav-link" href="{{ url_for('diabetesPage') }}">Diabetes</a>
            </li>
            <li class="nav-item active" style="font-size: large; text-decoration: underline;">
                <a class="nav-link" href="{{ url_for('heartPage') }}">Heart</a>
            </li>
            <li class="nav-item active" style="font-size: large; text-decoration: underline;">
                <a class="nav-link" href="{{ url_for('kidneyPage') }}">Kidney</a>
            </li>
            <li class="nav-item active" style="font-size: large; text-decoration: underline;">
                <a class="nav-link" href="{{ url_for('liverPage') }}">Liver</a>
            </li>

        </ul>
    </div>
</nav>
<div class="row" style="margin-bottom: 477px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if pred == 1 %}
        <div class="card card-body alert alert-danger">
            <center>That's a worry! , You may have to consult a Doctor.</center>
        </div>
        {% else %}
        <div class="card card-body alert alert-success">
            <center>Great! You are Healthy.</center>
        </div>
        {% endif %}

    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}